doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title DailyCssImages Challenge - Day 2 : Elephant
    link(rel="stylesheet" href="style.css")
  body
	.container
		.text Opppppsss......<br>what's going on????
		.elephant
			.crown
			.ear_left
			.face
				.eye
				.nose
			.ear_right