doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title DailyCssImages Challenge - Day 1: Bear Cub
    // link(rel="stylesheet" href="style.css")
  body
	.container
		.text It's bear o'clock!
		.bear_box
			.face
				.ear.ear_left
				.ear.ear_right
				.eye.eye_left
				.eye.eye_right
				.nose
			.butterfly
				.circle
				.triangle_left
				.triangle_right