doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title DailyCssImages Challenge - Day 4: Tiger
    // link(rel="stylesheet" href="style.css")
  body
	.tiger
		- for (var x = 0; x < 45; x++)
			.path