$base_1: #6c614f;
$base_2: #fec384;

.tiger {
	width: 100%;
	height: 100vh;
	background: #f0e9dd;
}

.path {
  position: absolute;
	
	&:nth-child(1) {
		right: 68px;
		bottom: 300px;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 18px solid transparent;
		border-bottom: 10px solid $base_1;
	}
	
	&:nth-child(2) {
		right: 62px;
		bottom: 300px;
		width: 0;
		height: 0;
		border-left: 17px solid transparent;
		border-right: 7px solid transparent;
		border-top: 10px solid $base_2;
	}
	
	&:nth-child(3) {
		right: 56px;
		bottom: 276px;
		width: 10px;
		height: 33px;
		background: $base_2;
		-webkit-transform: rotate(-18deg);
		-moz-transform: rotate(-18deg);
		-ms-transform: rotate(-18deg);
		-o-transform: rotate(-18deg);
		transform: rotate(-18deg);
	}
	
	&:nth-child(4) {
		right: 59px;
		bottom: 254px;
		width: 10px;
		height: 33px;
		background: -webkit-linear-gradient(205deg, $base_2 50%, $base_1 51%);
		background: -moz-linear-gradient(205deg, $base_2 50%, $base_1 51%);
		background: -o-linear-gradient(205deg, $base_2 50%, $base_1 51%);
		background: linear-gradient(-115deg, $base_2 50%, $base_1 51%);
		-webkit-transform: rotate(39deg);
		-moz-transform: rotate(39deg);
		-ms-transform: rotate(39deg);
		-o-transform: rotate(39deg);
		transform: rotate(39deg);
	}

	&:nth-child(5) {
		right: 70px;
		bottom: 254px;
		width: 38px;
		height: 10px;
		background:  $base_1;
	}

	&:nth-child(6) {
		right: 69px;
		bottom: 255px;
		width: 0;
		height: 0;
		border-left: 43px solid transparent;
		border-right: 37px solid transparent;
		border-top: 10px solid $base_2;
		-webkit-transform: rotate(14deg);
		-moz-transform: rotate(14deg);
		-ms-transform: rotate(14deg);
		-o-transform: rotate(14deg);
		transform: rotate(14deg);
	}

	&:nth-child(7) {
		right: 70px;
		bottom: 259px;
		width: 38px;
		height: 10px;
		border-left: 43px solid transparent;
		border-right: 37px solid transparent;
		border-top: 10px solid $base_1;
		-webkit-transform: rotate(14deg);
		-moz-transform: rotate(14deg);
		-ms-transform: rotate(14deg);
		-o-transform: rotate(14deg);
		transform: rotate(14deg);
	}

	&:nth-child(8) {
		right: 112px;
		bottom: 281px;
		width: 0;
		height: 0;
		border-left: 11px solid transparent;
		border-right: 39px solid transparent;
		border-bottom: 18px solid $base_2;
		-webkit-transform: rotate(15deg);
		-moz-transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		-o-transform: rotate(15deg);
		transform: rotate(15deg);
	}

	&:nth-child(9) {
		right: 141px;
		bottom: 232px;
		width: 30px;
		height: 48px;
		background: $base_2;
		-webkit-transform: rotate(42deg) skew(19deg);
		-moz-transform: rotate(42deg) skew(19deg);
		-ms-transform: rotate(42deg) skew(19deg);
		-o-transform: rotate(42deg) skew(19deg);
		transform: rotate(42deg) skew(19deg);
	}

	&:nth-child(10) {
		right: 175px;
		bottom: 213px;
		width: 40px;
		height: 64px;
		background: $base_1;
		-webkit-transform: rotate(57deg) skew(18deg);
		-moz-transform: rotate(57deg) skew(18deg);
		-ms-transform: rotate(57deg) skew(18deg);
		-o-transform: rotate(57deg) skew(18deg);
		transform: rotate(57deg) skew(18deg);
	}

	&:nth-child(11) {
		right: 116px;
		bottom: 213px;
		width: 0;
		height: 0;
		border-left: 28px solid transparent;
		border-right: 33px solid transparent;
		border-top: 18px solid $base_1;
		-webkit-transform: rotate(79deg);
		-moz-transform: rotate(79deg);
		-ms-transform: rotate(79deg);
		-o-transform: rotate(79deg);
		transform: rotate(79deg);
	}

	&:nth-child(12) {
		right: 126px;
		bottom: 211px;
		width: 20px;
		height: 60px;
		background: $base_2;
		-webkit-transform: rotate(-20deg);
		-moz-transform: rotate(-20deg);
		-ms-transform: rotate(-20deg);
		-o-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}

	&:nth-child(13) {
		right: 109px;
		bottom: 188px;
		width: 26px;
		height: 30px;
		background: $base_2;
		-webkit-transform: rotate(-37deg);
		-moz-transform: rotate(-37deg);
		-ms-transform: rotate(-37deg);
		-o-transform: rotate(-37deg);
		transform: rotate(-37deg);
	}

	&:nth-child(14) {
		right: 104px;
		bottom: 169px;
		width: 16px;
		height: 32px;
		background: $base_2;
		-webkit-transform: rotate(6deg);
		-moz-transform: rotate(6deg);
		-ms-transform: rotate(6deg);
		-o-transform: rotate(6deg);
		transform: rotate(6deg);
	}

	&:nth-child(15) {
		right: 106px;
		bottom: 178px;
		width: 0;
		height: 0;
		border-left: 8px solid transparent;
		border-right: 23px solid transparent;
		border-top: 13px solid $base_1;
		-webkit-transform: rotate(79deg);
		-moz-transform: rotate(79deg);
		-ms-transform: rotate(79deg);
		-o-transform: rotate(79deg);
		transform: rotate(79deg);
	}

	&:nth-child(16) {
		right: 107px;
		bottom: 158px;
		width: 27px;
		height: 14px;
		background: $base_1;
		-webkit-transform: skew(-14deg);
		-moz-transform: skew(-14deg);
		-ms-transform: skew(-14deg);
		-o-transform: skew(-14deg);
		transform: skew(-14deg);
	}

	&:nth-child(17) {
		right: 202px;
		bottom: 226px;
		width: 70px;
		height: 60px;
		background: $base_2;
		-webkit-transform: rotate(7deg) skew(-18deg);
		-moz-transform: rotate(7deg) skew(-18deg);
		-ms-transform: rotate(7deg) skew(-18deg);
		-o-transform: rotate(7deg) skew(-18deg);
		transform: rotate(7deg) skew(-18deg);
	}

	&:nth-child(18) {
		right: 157px;
		bottom: 255px;
		width: 67px;
		height: 60px;
		background: $base_2;
		-webkit-transform: rotate(19deg) skew(-2deg);
		-moz-transform: rotate(19deg) skew(-2deg);
		-ms-transform: rotate(19deg) skew(-2deg);
		-o-transform: rotate(19deg) skew(-2deg);
		transform: rotate(19deg) skew(-2deg);
	}

	&:nth-child(19) {
		right: 143px;
		bottom: 262px;
		width: 0;
		height: 0;
		border-left: 28px solid transparent;
		border-right: 33px solid transparent;
		border-bottom: 18px solid $base_1;
		-webkit-transform: rotate(-72deg);
		-moz-transform: rotate(-72deg);
		-ms-transform: rotate(-72deg);
		-o-transform: rotate(-72deg);
		transform: rotate(-72deg);
	}

	&:nth-child(20) {
		right: 211px;
		bottom: 282px;
		width: 0;
		height: 0;
		border-left: 56px solid transparent;
		border-right: 33px solid transparent;
		border-bottom: 33px solid $base_2;
	}

	&:nth-child(21) {
		right: 276px;
		bottom: 248px;
		width: 90px;
		height: 45px;
		background: $base_1;
		-webkit-transform: rotate(22deg);
		-moz-transform: rotate(22deg);
		-ms-transform: rotate(22deg);
		-o-transform: rotate(22deg);
		transform: rotate(22deg);
	}

	&:nth-child(22) {
		right: 184px;
		bottom: 296px;
		width: 0;
		height: 0;
		border-left: 51px solid transparent;
		border-right: 33px solid transparent;
		border-bottom: 33px solid $base_1;
		-webkit-transform: rotate(28deg);
		-moz-transform: rotate(28deg);
		-ms-transform: rotate(28deg);
		-o-transform: rotate(28deg);
		transform: rotate(28deg);
	}

	&:nth-child(23) {
		right: 231px;
		bottom: 250px;
		width: 0;
		height: 0;
		border-left: 27px solid transparent;
		border-right: 56px solid transparent;
		border-bottom: 47px solid $base_1;
		-webkit-transform: rotate(-41deg);
		-moz-transform: rotate(-41deg);
		-ms-transform: rotate(-41deg);
		-o-transform: rotate(-41deg);
		transform: rotate(-41deg);
	}

	&:nth-child(24) {
		right: 249px;
		bottom: 269px;
		width: 0;
		height: 0;
		border-left: 27px solid transparent;
		border-right: 56px solid transparent;
		border-top: 51px solid $base_1;
		-webkit-transform: rotate(8deg);
		-moz-transform: rotate(8deg);
		-ms-transform: rotate(8deg);
		-o-transform: rotate(8deg);
		transform: rotate(8deg);
	}

	&:nth-child(25) {
		right: 389px;
		bottom: 265px;
		width: 19px;
		height: 28px;
		background: $base_2;
		-webkit-transform: skew(-41deg) rotate(-13deg);
		-moz-transform: skew(-41deg) rotate(-13deg);
		-ms-transform: skew(-41deg) rotate(-13deg);
		-o-transform: skew(-41deg) rotate(-13deg);
		transform: skew(-41deg) rotate(-13deg);
	}

	&:nth-child(26) {
		right: 346px;
		bottom: 284px;
		width: 0;
		height: 0;
		border-left: 17px solid transparent;
		border-right: 22px solid transparent;
		border-bottom: 36px solid $base_1;
		-webkit-transform: rotate(9deg);
		-moz-transform: rotate(9deg);
		-ms-transform: rotate(9deg);
		-o-transform: rotate(9deg);
		transform: rotate(9deg);
	}

	&:nth-child(27) {
		right: 320px;
		bottom: 285px;
		width: 39px;
		height: 38px;
		background: $base_2;
		-webkit-transform: skew(12deg) rotate(-8deg);
		-moz-transform: skew(12deg) rotate(-8deg);
		-ms-transform: skew(12deg) rotate(-8deg);
		-o-transform: skew(12deg) rotate(-8deg);
		transform: skew(12deg) rotate(-8deg);
	}

	&:nth-child(28) {
		right: 394px;
		bottom: 265px;
		width: 22px;
		height: 36px;
		background: $base_2;
		-webkit-transform: skew(0deg) rotate(18deg);
		-moz-transform: skew(0deg) rotate(18deg);
		-ms-transform: skew(0deg) rotate(18deg);
		-o-transform: skew(0deg) rotate(18deg);
		transform: skew(0deg) rotate(18deg);
	}

	&:nth-child(29) {
		right: 392px;
		bottom: 295px;
		width: 14px;
		height: 20px;
		background: $base_2;
		-webkit-transform: rotate(40deg);
		-moz-transform: rotate(40deg);
		-ms-transform: rotate(40deg);
		-o-transform: rotate(40deg);
		transform: rotate(40deg);
	}

	&:nth-child(30) {
		right: 368px;
		bottom: 297px;
		width: 0;
		height: 0;
		border-left: 2px solid transparent;
		border-right: 8px solid transparent;
		border-top: 22px solid $base_2;
		-webkit-transform: rotate(-2deg) skew(-24deg);
		-moz-transform: rotate(-2deg) skew(-24deg);
		-ms-transform: rotate(-2deg) skew(-24deg);
		-o-transform: rotate(-2deg) skew(-24deg);
		transform: rotate(-2deg) skew(-24deg);
	}

	&:nth-child(31) {
		right: 377px;
		bottom: 291px;
		width: 19px;
		height: 28px;
		background: $base_1;
		-webkit-transform: skew(-32deg) rotate(-13deg);
		-moz-transform: skew(-32deg) rotate(-13deg);
		-ms-transform: skew(-32deg) rotate(-13deg);
		-o-transform: skew(-32deg) rotate(-13deg);
		transform: skew(-32deg) rotate(-13deg);
	}

	&:nth-child(32) {
		right: 382px;
		bottom: 309px;
		width: 14px;
		height: 14px;
		background: $base_2;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	&:nth-child(33) {
		right: 383px;
		bottom: 245px;
		width: 16px;
		height: 34px;
		background: $base_2;
		-webkit-transform: skew(-26deg) rotate(1deg);
		-moz-transform: skew(-26deg) rotate(1deg);
		-ms-transform: skew(-26deg) rotate(1deg);
		-o-transform: skew(-26deg) rotate(1deg);
		transform: skew(-26deg) rotate(1deg);
	}

	&:nth-child(34) {
		right: 375px;
		bottom: 256px;
		width: 12px;
		height: 34px;
		background: $base_1;
		-webkit-transform: skew(26deg) rotate(13deg);
		-moz-transform: skew(26deg) rotate(13deg);
		-ms-transform: skew(26deg) rotate(13deg);
		-o-transform: skew(26deg) rotate(13deg);
		transform: skew(26deg) rotate(13deg);
	}

	&:nth-child(35) {
		right: 393px;
		bottom: 246px;
		width: 0;
		height: 0;
		border-left: 12px solid transparent;
		border-right: 14px solid transparent;
		border-top: 22px solid $base_1;
		-webkit-transform: rotate(-3deg);
		-moz-transform: rotate(-3deg);
		-ms-transform: rotate(-3deg);
		-o-transform: rotate(-3deg);
		transform: rotate(-3deg);
	}

	&:nth-child(36) {
		right: 407px;
		bottom: 260px;
		width: 0;
		height: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 16px solid $base_2;
		-webkit-transform: rotate(33deg);
		-moz-transform: rotate(33deg);
		-ms-transform: rotate(33deg);
		-o-transform: rotate(33deg);
		transform: rotate(33deg);
		
		&::before {
			content: "";
			position: absolute;
			top: 10px;
			left: -8px;
			width: 6px;
			height: 6px;
			background: #d2722d;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
		}
	}	

	&:nth-child(37) {
		right: 396px;
		bottom: 280px;
		width: 0;
		height: 0;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-bottom: 8px solid $base_1;
		-webkit-transform: rotate(-43deg);
		-moz-transform: rotate(-43deg);
		-ms-transform: rotate(-43deg);
		-o-transform: rotate(-43deg);
		transform: rotate(-43deg);
		
		&::before {
			content: "";
			position: absolute;
			top: 3px;
			left: -3px;
			width: 6px;
			height: 6px;
			background: #d2722d;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
		}
	}

	&:nth-child(38) {
		right: 360px;
		bottom: 271px;
		width: 0;
		height: 0;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-bottom: 18px solid $base_2;
		-webkit-transform: rotate(-49deg);
		-moz-transform: rotate(-49deg);
		-ms-transform: rotate(-49deg);
		-o-transform: rotate(-49deg);
		transform: rotate(-49deg);
	}

	&:nth-child(39) {
		right: 321px;
		bottom: 194px;
		width: 20px;
		height: 103px;
		background: $base_2;
		-webkit-transform: rotate(-66deg);
		-moz-transform: rotate(-66deg);
		-ms-transform: rotate(-66deg);
		-o-transform: rotate(-66deg);
		transform: rotate(-66deg);
		
		&::before {
			content: "";
			position: absolute;
			bottom: 17px;
			left: -31px;
			width: 0;
			height: 0;
			border-left: 28px solid transparent;
			border-right: 11px solid transparent;
			border-top: 25px solid $base_2;
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
		}
	}
	
	&:nth-child(40) {
		right: 299px;
		bottom: 191px;
		width: 12px;
		height: 30px;
		background: $base_1;
		-webkit-transform: rotate(13deg) skew(-33deg);
		-moz-transform: rotate(13deg) skew(-33deg);
		-ms-transform: rotate(13deg) skew(-33deg);
		-o-transform: rotate(13deg) skew(-33deg);
		transform: rotate(13deg) skew(-33deg);
	}

	&:nth-child(41) {
		right: 314px;
		bottom: 161px;
		width: 12px;
		height: 27px;
		background: $base_2;
		
		&::before {
			content: "";
			position: absolute;
			top: 16px;
			left: -9px;
			width: 20px;
			height: 10px;
			background: $base_2;
			-webkit-transform: rotate(-23deg);
			-moz-transform: rotate(-23deg);
			-ms-transform: rotate(-23deg);
			-o-transform: rotate(-23deg);
			transform: rotate(-23deg);
		}
	}
	
	&:nth-child(42) {
		right: 309px;
		bottom: 176px;
		width: 15px;
		height: 27px;
		background: $base_1;
		-webkit-transform: rotate(-42deg);
		-moz-transform: rotate(-42deg);
		-ms-transform: rotate(-42deg);
		-o-transform: rotate(-42deg);
		transform: rotate(-42deg);
		
		&::before {
			content: "";
			position: absolute;
			top: 27px;
			right: -9px;
			width: 0;
			height: 0;
			border-left: 11px solid transparent;
			border-right: 15px solid transparent;
			border-top: 10px solid $base_2;
		}
	}

	&:nth-child(43) {
		right: 314px;
		bottom: 194px;
		width: 0;
		height: 0;
		border-left: 14px solid transparent;
		border-right: 8px solid transparent;
		border-top: 20px solid $base_1;
		-webkit-transform: rotate(48deg);
		-moz-transform: rotate(48deg);
		-ms-transform: rotate(48deg);
		-o-transform: rotate(48deg);
		transform: rotate(48deg);
	}

	&:nth-child(44) {
		right: 188px;
		bottom: 191px;
		width: 0;
		height: 0;
		border-left: 24px solid transparent;
		border-right: 28px solid transparent;
		border-top: 23px solid $base_2;
		-webkit-transform: rotate(-82deg);
		-moz-transform: rotate(-82deg);
		-ms-transform: rotate(-82deg);
		-o-transform: rotate(-82deg);
		transform: rotate(-82deg);
	}

	&:nth-child(45) {
		right: 219px;
		bottom: 151px;
		width: 11px;
		height: 52px;
		background: $base_2;
		-webkit-transform: rotate(74deg) skew(24deg);
		-moz-transform: rotate(74deg) skew(24deg);
		-ms-transform: rotate(74deg) skew(24deg);
		-o-transform: rotate(74deg) skew(24deg);
		transform: rotate(74deg) skew(24deg);
		
		&::before {
			content: "";
			position: absolute;
			left: -2px;
			bottom: -14px;
			width: 11px;
			height: 26px;
			background: $base_2;
			-webkit-transform: rotate(69deg) skew(32deg);
			-moz-transform: rotate(69deg) skew(32deg);
			-ms-transform: rotate(69deg) skew(32deg);
			-o-transform: rotate(69deg) skew(32deg);
			transform: rotate(69deg) skew(32deg);
		}
	}
}