doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title DailyCssImages Challenge - Day 8: Notepad
		// link(rel="stylesheet" href="style.css")
	body
	.container
		.rectangle
			.rectangle_inside
			.spiral
				-for(var x = 0; x < 10; x++)
					.line
		.pen
			.top
			.mid
			.bot