doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title DailyCssImages Challenge - Day 5: One punch man
    // link(rel="stylesheet" href="style.css")
  body
	.container
		.head
			.face
				.shine
				.ear.ear_l
				.ear.ear_r
				.eye.eye_l
				.eye.eye_r
				.nose
				.mouth