doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title DailyCssImages Challenge - Day 10: Pencil Jar
		link(rel="stylesheet" href="style.css")
	body
	.container
		.pencil.pencil_1
		.pencil.pencil_2
		.jar
			- for (var square = 0; square < 11; square++)
				.box