doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title DailyCssImages Challenge - Day 3: Beaver playing of hide and seek
    link(rel="stylesheet" href="style.css")
  body
	.box
		.bush.bush_left
		.bush.bush_right
		.disguise
			.line
			- for (var x = 0; x < 8; x++)
				.camouflage
		.head
			.eye
			.nose
				.circle